.human-card {
    position: absolute;
    top: 0;
    bottom: 0;
    background-image: url('/src/img/card.png');
    background-repeat: no-repeat;
    transform: skew(0, 5deg);
    background-size: 100%;
    margin: auto;
    width: 506px;
    height: 732px;
}

.human-card model-viewer {
    top: 200px;
    min-height: 381px;
}

model-viewer {
    --poster-color: transparent;
    width: 43%;
    height: 43vh;

    position: absolute;
    top: 210px;
    left: 80px;
    right: 0;
    margin: auto;
}


.main model-viewer {
    width: 500px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 85px;
    margin: 1px;
}

.main model-viewer {
    z-index: -1;
   opacity: 0.5; 
}

.main model-viewer::part(default-progress-bar) {
    background-color: transparent;
}

model-viewer::part(default-progress-bar) {
    background-color: #7e7e7e;
}

model-viewer::part(default-progress-mask) {
    background-color: transparent;
}

.human-card .button {
    width: max-content;
    padding: 5px 10px;

    color: var(--color-white-1);
    background-color: var(--background-color-2);
    backdrop-filter: blur(5px);
    border: 2px solid var(--border-color);
    cursor: pointer;
    user-select: none;
    border-radius: 5px;

    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 25px;

    display: flex;
    align-items: center;
    gap: 8px;
}

.human-card .button:hover {
    filter: brightness(100);
}