.main {
    position: relative;
    margin: 25px 0;
    z-index: 99;
    width: 70%;
    min-height: 100px;
    height: max-content;
    display: none;
    flex-direction: column;
    gap: 40px;
}

.main section {
    width: 100%;
    height: max-content;
}