@media (max-width: 1024px) {
    .main {
        width: 95%;
    }

    .main :is(.about .description, .introduction .description) {
        min-width: 100%;
    }
}

@media (max-width: 768px) {
    .main .navbar {
        height: 55px;
    }

    .main .navbar .social img {
        padding: 5px;
        border-radius: 10px;
    }

    .human-card {
        transform: scale(0.7);
    }
}

@media (max-width: 425px) {
    .main .projects .list .project .name {
        font-size: 15px;
    }

    .main .projects .list .project .status .count :is(.c-name, span) {
        font-size: 10px;
        background-color: transparent;
    }

    .main :is(.about .description, .introduction .description) {
        font-size: 15px;
    }

    .main .about .skills strong {
        font-size: 13px;
    }
}

@media (max-width: 369px) {
    .main {
        display: flex;
    }
    .human-card {
        display: none;
    }
}